.results-stack {
    .result-summary {
        .results {
            display: flex;
            justify-content: space-between;

            .result-item {
                padding: 0 10px;

                p:first-of-type {
                    font-weight: 600;
                }

                p:nth-of-type(2) {
                    color: $color-tertiary;
                }
            }
        }
    }
}