.form-grid {
    .field {
        p {
            margin-bottom: 20px;
        }
    }
}

.data-source {
    position: relative;
}

.data-source::before {
    content: "";
    position: absolute;
    top: 0;
    height: 2px;
    width: 80%;
    background: $color-grey-border;
    left: 50%;
    transform: translateX(-50%);
}